@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Satisfy&display=swap');
header {
    background-color: #77ADBB;
    width: 100%;
}
.logo {
    margin-left: 43%;
    width: 300px;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 30px;
}
nav a{
    color: #FFD9DA;
    text-decoration: none;
    margin: 20px;
    margin-bottom: 40px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
nav a:hover {
    color:#CC7178
}
#hero {
    background-color: white;
}
#hero-img {
    background-size: cover;
    width: 100%;
    grid-column: 1/4;
    z-index: 1;
}
#hero-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#hero-box p {
    color: white;
    font-size: 100px;
    font-family: 'Satisfy', Arial, Helvetica, sans-serif;
    grid-column: 3/4;
    margin-top: -900px;
    z-index: 1;
}
#hero-msg {
    color:#CC7178;
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin-left: 300px;
    margin-right: 300px;
    line-height: 60px;
}
#hero-msg h1 {
    font-size: 50px;
    font-family: 'Satisfy', Arial, Helvetica, sans-serif;
}
.rsvp {
    color:#FFD9DA;
    background-color: #77ADBB;
    padding: 30px;
    margin-top: 30px;
}
.rsvp:hover {
    color:#CC7178;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #77ADBB;
    margin-top: 200px;
}
.temple-card h1{
    font-size: 50px;
    font-family: 'Satisfy', Arial, Helvetica, sans-serif;
    color: #FFD9DA;
}
.temple-card p {
    color: #FFD9DA;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.temple-card {
    grid-column: 1/2;
    text-align: center;
    padding: 50px;
    margin-left: 35px;
}
#temple {
    width: 700px;
    height: 500px;
}
.reception-card h1 {
    font-size: 50px;
    font-family: 'Satisfy', Arial, Helvetica, sans-serif;
    color: #FFD9DA;
}
.reception-card p {
    color: #FFD9DA;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.reception-card {
    grid-column: 3/5;
    text-align: center;
    padding: 50px;
}
#start-up {
    width: 700px;
    height: 500px;
}
footer {
    background-color: #CC7178;
}
footer h3 {
    color: white;
    font-size: 30px;
    margin-top: 20px;
}
/*ourstory.css*/
