@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Satisfy&display=swap');
header {
    background-color: #77ADBB;
    width: 100%;
}
.logo {
    margin-left: 40%;
    width: 300px;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 30px;
}
nav a{
    color: #FFD9DA;
    text-decoration: none;
    margin: 20px;
    margin-bottom: 40px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
nav a:hover {
    color:#CC7178
}
#hero {
    background-color: white;
}
#hero-img {
    background-size: cover;
    width: 100%;
    grid-column: 1/4;
    z-index: 1;
}
#hero-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#hero-box p {
    color: white;
    font-size: 100px;
    font-family: 'Satisfy', Arial, Helvetica, sans-serif;
    grid-column: 3/4;
    margin-top: -150%;
    z-index: 1;
}
#hero-msg {
    color:#CC7178;
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin-left: 300px;
    margin-right: 300px;
    line-height: 60px;
}
#hero-msg h1 {
    font-size: 50px;
    font-family: 'Satisfy', Arial, Helvetica, sans-serif;
}
.rsvp {
    color:#FFD9DA;
    background-color: #77ADBB;
    padding: 30px;
    margin-top: 30px;
}
.rsvp:hover {
    color:#CC7178;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #77ADBB;
    margin-top: 200px;
    width: 100%;
}
.temple-card h1{
    font-size: 50px;
    font-family: 'Satisfy', Arial, Helvetica, sans-serif;
    color: #FFD9DA;
}
.temple-card p {
    color: #FFD9DA;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.temple-card {
    /*grid-column: 1/2;*/
    text-align: center;
    padding: 100px 50px 100px 100px;
    margin-left: 35px;
}
#temple {
    width: 75%;
}
.reception-card h1 {
    font-size: 50px;
    font-family: 'Satisfy', Arial, Helvetica, sans-serif;
    color: #FFD9DA;
    grid-column: 2/5;
}
.reception-card p {
    color: #FFD9DA;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.reception-card {
    /*grid-column: 2/4;*/
    text-align: center;
    display: block;
    padding: 100px 100px 100px 50px;
}
iframe {
    width: 50%;
}
#start-up {
    width: 75%;
}
footer {
    background-color: #CC7178;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
footer h3 {
    color: white;
    font-size: 30px;
    padding: 2%;
    margin-left: 50px;
}
footer .social {
text-align: right;
padding: 2%;
}
footer a{ 
    color: white;
    text-decoration: none;
}
.social img {
    padding: 0 150px 0;
}
/*ourstory.css*/
.story-grid {
    display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr 2fr 1fr 1fr 1fr);
    padding:100px;
}
h1#n1 {
    font-family: 'Satisfy', Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #CC7178;
    grid-column: 2/3;
    text-align: center;
}
#camcow {
    width: 300px;
    height: 400px;
    border: 10px solid #77ADBB;
    grid-column: 2/3;
    margin-top: -100%;
    margin-left: 11%;
}
p.p1 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #CC7178;
    grid-column: 4/6;
    line-height: 1.5em;
    padding-top: 15%;
    
}
h1#n2 {
    font-family: 'Satisfy', Arial, Helvetica, sans-serif;
    font-size: 60px;        
    color: #CC7178;
    grid-column: 5/6;
    text-align: center;
}
p.p2 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #CC7178;
    grid-column: 2/5;
    text-align: center;
    line-height: 1.5em;
    padding: 0% 5% 10% 10%;
}
#babyb {
    grid-column: 5/6;
    border: 10px solid #77ADBB;
    width: 400px;
    height: 300px;
    margin-top: 20%;
}
h1#n3 {
    font-family: 'Satisfy', Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: #CC7178;
    grid-column: 4/5;
    text-align: center;
}
p.p3 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #CC7178;
    grid-column: 4/5;
    padding-left: 10%;
}
#dance {
    width: 400px;
    height: 500px;
    grid-column: 2/3;
    padding-left: 5%;
    margin-top:-190%;
}
#couple {
    width: 400px;
    height: 500px;
    grid-column: 5/6;
    padding-left: 20%;
    padding-top: 45%;
}

/*registry*/
.reg-main h1 {
    text-align: center;
    margin: 100px;
    font-family: 'Satisfy', Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #CC7178;
}
p.reg {
    margin: 30px 20% 100px 20%;
    box-shadow: 5px 5px 10px #77ADBB;
    line-height: 2em;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #CC7178;
}
p.price {
    margin: 30px 20% 100px 20%;
    line-height: 2em;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #CC7178;
}
#reg-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
#reg-grid img {
    width: 400px;
    height: 300px;
    box-shadow: 5px 5px 10px #443742;
    margin-bottom: 10px;
}
#reg-grid a {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: black;
}
#reg-grid a:hover {
    color:#77ADBB;
    background-color:#FFD9DA;
    padding: 30px;
}
.utensil-set {
    grid-column: 2/3;
    padding: 50px;
    margin: 30px;
    text-align: center;
}
.tv {
    grid-column: 4/5;
    padding: 50px;
    text-align: center;
    margin-top: 25px;
}
.e-kit {
    grid-column: 6/7;
    padding: 50px;
    text-align: center;
    margin-top: 25px;
}
.griddle {
    grid-column: 2/3;
    padding: 50px;
    text-align: center;
}
.vaccum {
    grid-column: 4/5;
    padding: 50px;
    text-align: center;
}
.knives {
    grid-column: 6/7;
    padding: 50px;
    text-align: center;
}
